@model IEnumerable<Casino.Models.WheelNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Roulette</h1>

    <div class="container">
        <div class="roulette">
            
            <div class="numbers">
                <ul>
                    @foreach (var item in Model)
                    {
                    
                     <WheelNumbComponent WheelNumber="@item.Number ">@item.Number</WheelNumbComponent>
                        
                    }
                </ul>
            </div>
            <div class="ball-circle">
 
            </div>
            <div class="inner-circle">
 
            </div>
        </div>
        
    </div>
     

