@model IEnumerable<Casino.Models.WheelNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Roulette</h1>

    <div class="container">
        <div class="roulette">
            
            <div class="numbers">
                <ul>
                    @foreach (var item in Model)
                    {
                     <li class="@item.Color.ToString().ToLower()"><span class="number">@item.Number</span>
        
                        @if (item.Selected)
                        {

                          <span class="ball-container"><span class="ball"></span></span>   
                        
                        }
 
                     </li>
                     
                    }
                </ul>
            </div>
            <div class="ball-circle">
 
            </div>
            <div class="inner-circle">
 
            </div>
        </div>
        
    </div>
     

